server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:file:./data/expensetracker
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC

  h2:
    console:
      enabled: true
      path: /h2-console

telegram:
  bot:
    username: bookkeeperAIbot
    token: ${TELEGRAM_BOT_TOKEN}

huggingface:
  token: ${HUGGINGFACE_TOKEN}
  sttModel: openai/whisper-large-v3
  nlpModel: HuggingFaceTB/SmolLM3-3B
